.search-warp {
    height: 90px;
    img {
        position: relative;
        top: 21px;
    }
}
.search-input {
    float: right;
    position: relative;
    top: 26px;
    width: 720px;
    height: 23px;
    border: 2px solid #c40000;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.search-btn {
    float: right;
    position: relative;
    top: 26px;
    width: 95px;
    height: 38px;
    background: #c40000;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    &:hover {
        cursor: pointer;
    }
}
.filter {
    /* padding: 0 10px; */
    height: 38px;
    line-height: 38px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    color: #747474;
}
.filter-price {
    float: left;
    padding: 0 10px;
    /* box-shadow: rgb(170, 170, 170) 1px 1px 6px 0px; */
    span {
        margin-right: 10px;
    }
    input {
        width: 42px;
        padding: 1px;
        padding-left: 3px;
    }
}
.filter-price-btn {
    display: none;
    margin-left: 12px;
    padding: 0 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
    background: #c40000;
    color: white;
}
.others {
    float: right;
    a {
        margin-left: 18px;
        margin-right: 1px;
    }
    & a:last-child {
        margin-right: 11px;
    }
}
#search main {
    margin-bottom: 30px;
}
.item {
    width: 250px;
    height: 366px;
    border: 1px solid #eee;
    &:hover {
        border-color: #c40000;
    }
    p:first-child {
        margin-top: 4px;
        height: 16px;
    }
    & > span {
        display: table-cell;
        width: 250px;
        height: 250px;
        vertical-align: middle;
        text-align: center;
    }
    .item-img {
        height: 220px;
        width: 220px;
    }
    .info {
        padding: 10px;
        width: 230px;
        height: 96px;
        .price {
            margin-top: 4px;
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            font-weight: 700;
            color: #c40000;
            &:hover {
                text-decoration: underline;
            }
        }
        .postal-icon {
            margin-left: 4px;
            width: 27px;
            height: 14px;
            line-height: 14px;
            background: #c40000;
            color: white;
        }
        .item-name {
            margin-top: 5px;
            height: 20px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                text-decoration: underline;
            }
        }
        .store-info {
            margin-top: 5px;
            color: #888;
            height: 18px;
            line-height: 18px;
            text-decoration: underline;
            .pay-number {
                float: right;
            }
        }
        .more-info {
            margin-top: 5px;
            width: inherit;
            height: 23px;
            line-height: 23px;
            .bilibili {
                margin-top: 7px;
            }
            span{
                float: right;
                margin-top: 5px;
                padding-left: 3px;
                width: 100px;
                height: 16px;
                line-height: 16px;
                border: 1px solid #ddd;
            }
        }
    }
}